
html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 8px;
}

body{
    background-color: #d4e1f1;
}

.top_menu{
    text-decoration: none;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #333942;
    padding: 0 10vw;
    color:white;
}

.menu_logo{
    text-decoration: none;
    padding-left: 0;
    margin-right:auto;
    font-weight: bold;
    font-size: 3em;
}

.linkedin_link,
.github_link{
    font-size: 2em;
}

.mainArea{
    padding: 10vh 33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculatorBtnsArea{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calculatorScreen{
    width: 100%;
    height: 20vh;
    background-color: #505b69;
    color: white;
    font-size: 6em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items:flex-end;
    padding: 2em;
    padding-bottom: 1em;
    box-sizing: border-box;
}

#oldNumber{
    color:rgb(162, 164, 165);
    font-size: .75em;
}

/* TOP ROW */
.topRow{
    display: flex;
    justify-content: space-between;
}

.topRow #ac{
    width: 50%;
}

.topRow #negative{
    width: 50%;
}

/* COMMON */

.topRow button,
#add, #substract, #multiply,
#result, #divide, #comma,
#one, #two, #three, #four, 
#five, #six, #seven, 
#eight, #nine, #zero,
#NA, #NA_botleft, #NA_botright,
#NA_topleft, #NA_topright,
#topScreenRow
{
    background: #384054;
    color:#fffffd;
    font-weight: bold;
    box-sizing:border-box;
    padding:2vh;
    font-size: 3em;
    border:none;
}

#add:hover, #substract:hover, #multiply:hover,
#divide:hover, #comma:hover,
#ac:hover, #negative:hover{
    background: #313849;
}

button{
    flex:1;
}

#seven, #eight, #nine,
#four, #five, #six,
#three, #two, #one, #zero{
    background-color:#5c677e;
}

#seven:hover, #eight:hover, #nine:hover,
#four:hover, #five:hover, #six:hover,
#three:hover, #two:hover, #one:hover, #zero:hover{
    background-color:#545e74;
}

/* ROWS */
.firstRow,
.secondRow, .thirdRow, 
.fourthRow, .fifthRow,
.topScreenRow{
    display: flex;
    justify-content: space-between;
}

.topScreenRow{
    width: 100%;
}

/* RESULT */
#result{
    background:linear-gradient(to right,#ff006c, 10%,#fead00);
}

#result:hover{
    background:linear-gradient(to right,#e60261, 10%,#eca202);
}

/* Not Attributed buttons */
#NA_botleft{
    border-bottom-left-radius: 1em;
}

#NA_botright{
    border-bottom-right-radius: 1em;
}

#NA_topleft{
    border-top-left-radius: .5em;
}

#NA_topright{
    border-top-right-radius: .5em;
}

.fifthRow #NA, #NA_botleft, #NA_botright,
#NA_topleft, #NA_topright, .topScreenRow #NA{
    background: #313849;
}